#content {
    position: relative;
}

.ElasticBranding {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1em;
}

.ElasticBranding__text {
    position: relative;
    bottom: 2px;

    color: gray;
    padding-left: 0.5em;
}
