{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS 3.x
 *
 * Bring the power of Elasticsearch to you Craft 3 CMS project
 *
 * @link      https://www.lahautesociete.com
 * @copyright Copyright (c) 2018 La Haute Société
 */
#}
<div class="elastic-branding">
    <a href="https://www.elastic.co" target="_blank">
        <img src="{{ view.assetManager.getPublishedUrl('@lhs/elasticsearch/resources/cp/img/elastic-logo.png') }}"
             alt="Elastic logo"
             class="elastic-branding__logo"
        >
    </a>
    <span class="elastic-branding__text">
        Elasticsearch is a trademark of Elasticsearch BV,
        registered in the U.S. and in other countries.
    </span>
</div>
