{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS 3.x
 *
 * Elasticsearch Settings.twig
 *
 * @author    Alban Jubert
 * @copyright Copyright (c) 2018 Alban Jubert
 * @link      https://www.lahautesociete.com
 * @package   Elasticsearch
 * @since     1.0.0
 */
#}
<div class="ElasticBranding">
    <img
            src="{{ view.assetManager.getPublishedUrl('@lhs/elasticsearch/resources/cp/img/elastic-logo.png') }}"
            alt="Elastic logo"
            class="ElasticBranding__logo"
    >
    <span class="ElasticBranding__text">
        Elasticsearch is a trademark of Elasticsearch BV,
        registered in the U.S. and in other countries.
    </span>
</div>
