{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Elasticsearch plugin for Craft CMS
 *
 * Elasticsearch Utility Content
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2018 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   Elasticsearch
 * @since     1.0.0
 */
#}

{% set pluginCpUrlReindexAll = url('elasticsearch/reindex-all') %}

{% if not isConnected %}
    <p><strong>{{ "Could not connect to the elasticsearch instance. Please check your settings"|t('elasticsearch') }}</strong></p>
{% else %}
    {% if not inSync %}
        <p><strong>{{ "Elasticsearch index is out of sync!"|t('elasticsearch') }}</strong></p>
    {% endif %}
{% endif %}


<form id="elasticsearch-utility" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="elasticsearch/elasticsearch/reindex-all">
    {{ csrfInput() }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Reindex all"|t('elasticsearch') }}" />
        <div class="utility-status"></div>
    </div>
</form>